fastapi
uvicorn
python-multipart
langchain
langchain-openai
langchain-community
chromadb
pydantic
pydantic[email]
python-dotenv
pdfplumber
pandas
openpyxl
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pytest
httpx
